{% extends 'base.html' %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">My Courses</li>
    </ol>
  </nav>
  <h2 class="mb-3">My Courses</h2>
  <a href="{% url 'teachers:course_add' %}" class="btn btn-primary mb-3" role="button">Add Course</a>
  <div class="card">
    <table class="table mb-0">
      <thead>
        <tr>
          <th>Course</th>
          <th>Info</th>
          
          <th>Taken</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for course in courses %}
          <tr>
            <td class="align-middle"><a href="{% url 'teachers:course_updatee' course.pk %}">{{ course.name }}</a></td>
            <td class="align-middle">{{ course.subject.get_html_badge }}</td>
          
            <td class="align-middle">{{ course.taken_count }}</td>
            <td class="text-right">
              <a href="{% url 'teachers:project_ideas' project.pk %}" class="btn btn-primary">View Projects</a>
            </td>
          </tr>
        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="5">You haven't added any course yet.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}