{% extends 'base.html' %}
{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'my_courses' %}">Courses</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ project.title }}</li>
    </ol>
  </nav>
  <br>
  <div>
	<a href="{% url 'assign_marks' project.pk %}" class="btn btn-primary text-center" style="float:right;" role="button">Assign Marks</a>
	{% if not project.is_assigned %}
		<a href="{% url 'assign_reviewer' project.pk %}" class="btn btn-primary text-center" style="float:right;" role="button">Assign Reviewer</a>
	{% endif %}
	{% if project.marks_assigned %}
      <h5 style="margin-left:20px;">Marks assigned: {{ project.marks }}</h5>
	{% endif %}  
  </div>
  <br>
  <hr>
  <div>
	<h4 style="margin-left:20px;"> Project Title: {{ project.title }}</h4>
    <hr/>
	<h4 style="margin-left:20px;"> Team Members:<br></h4>
	<ol>
      {% for member in project.members_as_list %}
	    <li style="margin-left:40px;">{{ member }}</li>
	    <hr>
	  {% endfor %}
	</ol>
    <hr/>
    <h4 style="margin-left:20px;">Idea: </h4>
    <br>
    <p style="margin-left:20px;">{{ project.idea }}</p>
	<br><hr>
	<h4 style="margin-left:20px;">Reports: </h4>
    <br>
	<ol>
	{% for report in reports %}
      <li><a href="{{ report.file.url }}">{{ report.file.name }}</a></li>
	{% empty %}
	  <p> No reports submitted yet </p>
	{% endfor %}
	</ol>
	<br><hr>
	<h4 style="margin-left:20px;">Review: </h4>
	<br>
	<p style="margin-left:20px;">{{ project.review }}</p>
	<br><hr>
	<h4 style="margin-left:20px;">Comments: </h4>
	<br>
	{% for comment in project.comments.all %}
    <div style="margin-left:20px;" class="comment">
        <div class="date">{{ comment.created_date }}</div>
        <strong>{{ comment.author }}</strong>
        <p>{{ comment.text|linebreaks }}</p>
    </div>
	{% empty %}
		<p style="margin-left:20px;">No comments here yet :(</p>
	{% endfor %}
	<a href="{% url 'post_comment' project.pk %}" class="btn btn-primary text-center" style="float:right;" role="button">Post Comment</a>
  </div>
{% endblock %}